
clicker/.vs/clicker/FileContentIndex/9fc79ba9-cab3-49af-b45f-47e113822180.vsidx
clicker/.vs/clicker/FileContentIndex/read.lock
clicker/Logs/shadercompiler-AssetImportWorker0.log
clicker/Logs/shadercompiler-AssetImportWorker0.log
clicker/Logs/AssetImportWorker1.log
clicker/Logs/AssetImportWorker0.log
clicker/Logs/shadercompiler-UnityShaderCompiler.exe0.log
